In [4]:
a={
    "Student1" :{"Name":"Arun","Tamil":98,"English":78,"Math":89,"Science":67,"SocialScience":78},
    "Student2" :{"Name":"Bala","Tamil":67,"English":67,"Math":67,"Science":34,"SocialScience":83},
    "Student3" :{"Name":"Ganesh","Tamil":90,"English":68,"Math":54,"Science":78,"SocialScience":65},
    "Student4" :{"Name":"Mari","Tamil":38,"English":43,"Math":71,"Science":89,"SocialScience":67},
    "Student5" :{"Name":"Kumar","Tamil":90,"English":87,"Math":89,"Science":48,"SocialScience":89}
}
a ['Student6']=({"Name":"Kumar","Tamil":90,"English":87,"Math":89,"Science":48,"SocialScience":89})
print(a)

{'Student1': {'Name': 'Arun', 'Tamil': 98, 'English': 78, 'Math': 89, 'Science': 67, 'SocialScience': 78}, 'Student2': {'Name': 'Bala', 'Tamil': 67, 'English': 67, 'Math': 67, 'Science': 34, 'SocialScience': 83}, 'Student3': {'Name': 'Ganesh', 'Tamil': 90, 'English': 68, 'Math': 54, 'Science': 78, 'SocialScience': 65}, 'Student4': {'Name': 'Mari', 'Tamil': 38, 'English': 43, 'Math': 71, 'Science': 89, 'SocialScience': 67}, 'Student5': {'Name': 'Kumar', 'Tamil': 90, 'English': 87, 'Math': 89, 'Science': 48, 'SocialScience': 89}, 'Student6': {'Name': 'Kumar', 'Tamil': 90, 'English': 87, 'Math': 89, 'Science': 48, 'SocialScience': 89}}

In [25]:
a["Student5"]['English']=89
print(a)

{'Student1': {'Name': 'Arun', 'Tamil': 98, 'English': 78, 'Math': 89, 'Science': 67, 'SocialScience': 78}, 'Student2': {'Name': 'Bala', 'Tamil': 67, 'English': 67, 'Math': 67, 'Science': 34, 'SocialScience': 83}, 'Student3': {'Name': 'Ganesh', 'Tamil': 90, 'English': 68, 'Math': 54, 'Science': 78, 'SocialScience': 65}, 'Student4': {'Name': 'Mari', 'Tamil': 38, 'English': 43, 'Math': 71, 'Science': 89, 'SocialScience': 67}, 'Student5': {'Name': 'Kumar', 'Math': 89, 'SocialScience': 89, 'English': 89}}

In [23]:
del a["Student5"]["Science"]
print(a)

{'Student1': {'Name': 'Arun', 'Tamil': 98, 'English': 78, 'Math': 89, 'Science': 67, 'SocialScience': 78}, 'Student2': {'Name': 'Bala', 'Tamil': 67, 'English': 67, 'Math': 67, 'Science': 34, 'SocialScience': 83}, 'Student3': {'Name': 'Ganesh', 'Tamil': 90, 'English': 68, 'Math': 54, 'Science': 78, 'SocialScience': 65}, 'Student4': {'Name': 'Mari', 'Tamil': 38, 'English': 43, 'Math': 71, 'Science': 89, 'SocialScience': 67}, 'Student5': {'Name': 'Kumar', 'Math': 89, 'SocialScience': 89}}

In [26]:
a["Student5"]

{'Name': 'Kumar', 'Math': 89, 'SocialScience': 89, 'English': 89}

In [8]:
x=a["Student1"].keys()
print(x)

dict_keys(['Name', 'Tamil', 'English', 'Math', 'Science', 'SocialScience'])